@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

header,
body,
footer {
    background-image: linear-gradient(to bottom, black, black, black)
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-weight: 500;
    font-size: 90px;
}

/* shared styles */
.hover-button:hover {
    background-color: rgb(150, 41, 7);
}

.description-color {
    color: rgba(255, 255, 255, 0.5);
}

.run-title {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}

/* header styles start here */
header {
    width: 100%;
    height: 100%;

    /* background-image: linear-gradient(to bottom, rgb(209, 13, 13), rgb(9, 153, 45), rgb(28, 8, 141)); */

    background-image: linear-gradient(to bottom, black, rgb(25, 25, 25), black);

    /* background-image: linear-gradient(to bottom, black, rgb(32, 32, 32), black); */

    /* border: 3px solid red; */
}


/* navbar styles start here */
.navbar {
    display: flex;
    justify-content: space-between;
    /* margin-left: 170px;
    margin-right: 170px; */

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 45px;
    /* border: 1px solid fuchsia; */
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;

}

.nav-link {
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-weight: 400;
    font-size: 16px;
}

.fitness {
    font-weight: 800;
    font-size: 32px;
    color: #E6533C;
    font-style: italic;
}

.home {
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    background: rgb(230, 83, 60);
    padding: 0 15px;

}

.icon {
    display: none;
}

/* navbar styles end here */


/* banner styles start here */

/* banner container style start here */
.banner-container {
    display: flex;
    justify-content: space-between;
    /* margin-left: 170px;
    margin-right: 170px; */

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 90px;
    color: white;
    /* border: 1px solid rgb(228, 131, 4); */

    position: relative;
}

/* banner contents style start here */
.banner-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    width: 50%;
    text-align: left;
    font-size: 14px;
}

.banner-button {
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    padding: 14px 35px 14px 35px;

    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;

    cursor: pointer;
}

.download {
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid rgba(255, 255, 255, 0.753);
    color: white;
    margin-left: 15px;
}

.hover-download:hover {
    background-color: white;
    color: black;
}

/* banner contents style end here */


/* for banner image style */
.banner-image img {
    width: 100%;
    height: 100%;
}

/* banner card-button 350+ style start here */
#card-button {
    /* padding: 10px 25px; */
    width: 195px;
    height: 85px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);

    position: absolute;
    margin-top: 30%;
    margin-left: -34%;

}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E6533C;

    margin-top: auto 0;

    /* position: relative; */
}

.icon-video {
    display: none;
}

.button-three {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.button-four {
    font-weight: 400;
    font-size: 14;
    color: rgba(255, 255, 255, 0.5);
}

/* banner card-button 350+ style end here */

/* banner card-button 500+ style start here */
.card-button-two {
    width: 160px;
    height: 80px;
    border: none;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);

    position: absolute;
    margin-top: 10%;
    margin-left: -10%;

    text-align: left;
    padding: 5px 0 20px 20px;
}

.button-five {
    font-weight: 900;
    font-size: 35px;
    color: white;
}

/* banner card-button 500+ style end here */

/* banner styles end here */

/* header styles end here */


/* main part styles start here */

/* habit section styles start here */
.habit-container {
    margin-left: 10%;
    margin-right: 10%;

    margin-top: 80px;
    /* border: 1px solid rgb(9, 230, 28); */
    color: white;
}

/* habit section title style start here */
.habit-title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.section-description {
    margin-top: 20px;
    font-size: 14px;
}

/* habit section title style start here */

/* habit section images styles start here */
.habit-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid hotpink; */
}

.habit-image {
    max-width: 220px;
    max-height: 265px;
    text-align: center;
}

.habit-image img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.habit-image-description {
    font-size: 12px;
    margin-top: 10px;
}

/* habit section images styles end here */

/* habit section styles end here */


/* healthy food section styles start here */
.healthy-food {
    margin-left: 10%;
    margin-right: 10%;

    margin-top: 80px;
    /* border: 1px solid rgb(9, 230, 28); */
    color: white;
}

/* healthy food images styles start here */
.healthy-food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.food-container {
    max-width: 220px;
    max-height: 265px;
    text-align: center;
    /* border: 5px solid teal; */
    position: relative;
}

.food-container img {
    width: 90%;
    height: 70%;
}

/* healthy food images styles end here */

/* healthy food section styles end here */


/* run easily section styles start here */
.run-easily {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90px;
    /* border: 1px solid rgb(230, 9, 145); */
    color: white;

    display: flex;
    justify-content: space-between;

    /* box-shadow: 0 4px 30px 0 rgba(211, 7, 7, 0.06); */
    background: rgb(34, 34, 34);

    padding: 30px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.run-text {
    width: 50%;
    text-align: justify;
}

/* .run-title {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}  = shared style এ দিয়েছি। */

.run-image {
    width: 40%;
    height: 30%;
    position: relative;
    overflow: hidden;
    /* border: 1px solid goldenrod; */

    border-radius: 16px;

}

.run-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: scale(2.8) translate(-55px, 30px);
}

/* run easily section styles end here */



/* BMI calculate section (myself research and created) styles start here */

/* BMI title create styles start here  */
.bmi-title {
    color: white;
    margin-left: 30%;
    margin-right: 10%;

    width: 40%;
    margin-top: 70px;
    margin-bottom: 88px;
    text-align: left;
}


.bmi {
    width: 100%;
    margin-top: 80px;
    /* border: 3px solid red; */
    color: white;
    background: rgb(34, 34, 34);
}

.bmi-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

/* BMI chart create styles start here */
.bmi-table {
    width: 200%;
    /* margin: 20px auto; */
    border-collapse: collapse;
    margin-top: 40px;
}

.bmi-table-header {
    width: 200%;
    margin-top: 30px;
    font-weight: 900;
    font-size: 26px;
}

.bmi th {
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.bmi td {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    text-align: left;
}

.bmi .bmi-header:hover {
    background-color: #013c5e;
}

.bmi tr:hover {
    background-color: #a7363f;
}

/* BMI chart create styles end here */

/* BMI input and option form create styles start here */
.form-container {
    margin-left: 30%;
}

.form-container h2 {
    margin-top: 30px;
    font-weight: 900;
    font-size: 26px;
}

.calculate-paragraph {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 32px;

}

.bmi-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    position: relative;
}

.form-group {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 12px 60px 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: rgb(163, 161, 161);
    background: rgba(56, 55, 55, 0.87);
}

#sex {
    width: 100%;
    padding: 12px 60px 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: rgb(129, 128, 128);
    background: rgba(56, 55, 55, 0.87);
}


#activity {
    width: 203%;
    padding: 12px 60px 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: rgb(129, 128, 128);
    background: rgba(56, 55, 55, 0.87);
}

.calculate-button {

    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    padding: 18px 20px 18px 20px;

    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 45px;
    cursor: pointer;
}

/* BMI input and option form create styles end here */

/* BMI calculate section (myself research and created) styles end here */


/* team section styles start here  */
.team {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 30px;
    /* border: 1px solid rgb(10, 88, 177); */
    color: white;
}

/* team section title style start here  */
.team-title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

/* team section images style start here  */
.team-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    gap: 0%;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.team-image {
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 18px;
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-text {
    position: absolute;
    top: 75%;
    left: 3%;
    color: white;
}

.team-paragraph {
    font-size: 14px;
    margin-top: 2%;
}

/* team section styles end here  */

/* main part end here */



/* footer section styles start here  */
footer {
    width: 100%;
    height: 410px;
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.1);
    padding: 60px 180px 160px 180px;
    /* border: 1px solid hotpink; */
}

#footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.footer-paragraph {
    font-size: 12px;
}

.footer-header {
    margin-bottom: 35px;
    color: white;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    text-decoration: none;
    list-style: none;
}

.footer-link {
    color: rgba(255, 255, 255, 0.5);
}

.horizonal-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 65px;
}

.footer-last-text {
    text-align: center;
    font-size: 12px;
    margin-top: 35px;
    /* margin-bottom: 35px; */
}

/* footer section styles end here  */




/* responsive styles start here */

/* small device responsive start here*/
@media screen and (max-width: 576px) {

    /* share responsive styles */
    .navbar,
    .banner-container {
        flex-direction: column;
    }

    /* header responsive styles start here */

    /* navbar responsive style start here */
    .navbar {
        width: 90%;
        display: flex;
        flex-direction: row;

        /* margin-left: 20px; */
        /* margin-right: 20px; */
        /* margin-top: 60px; */

        margin-left: 4%;
        margin-right: 4%;
        margin-top: 60px;
    }

    .nav-links {
        display: none;
    }

    .icon {
        display: contents;
        font-size: 30px;
        color: white !important;
    }

    /* navbar responsive style end here */

    /* banner responsive style start here */
    .banner-container {
        width: 90%;
        /* margin-left: 20px; */
        margin-top: 50px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .miama-font {
        font-size: 70px;
    }

    .banner-title {
        font-size: 33px;
        line-height: 120%;
    }

    .banner-description {
        width: 60%;
        font-size: 13px;
        margin-top: 30px;
    }

    .banner-button-content {
        display: flex;
        justify-content: space-evenly;
    }

    .circle {
        display: none;
    }

    .icon-video {
        display: contents;
        font-size: 30px;
        color: #E6533C !important;
    }

    /* banner card-button 350+ responsive style here */
    #card-button {
        width: 130px;
        height: 60px;

        margin-top: -100%;
        margin-left: 5%;
    }

    /* banner card-button 500+ responsive style here */
    .card-button-two {
        width: 145px;
        height: 75px;

        margin-top: -145%;
        margin-left: 55%;
    }

    .button-four {
        font-size: 10px;
    }

    .button-five {
        font-size: 30px;
    }

    /* banner responsive styles end here */

    /* header responsive styles end here */


    /* habit section responsive styles start here */
    .habit-container {
        margin-top: 20px;
    }

    .habit-title {
        width: 100%;
    }

    .section-title {
        font-weight: 900;
        font-size: 32px;
    }

    .habit-images {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 35px;
    }

    /* habit section responsive styles end here */


    /* run easily section responsive styles start here */
    .run-easily {
        flex-direction: column;

        margin-left: 4%;
        margin-right: 4%;

        padding: 25px;
    }

    .run-text {
        width: 100%;
        text-align: left;
    }

    .run-description {
        line-height: 140%;
    }

    .run-image {
        width: 100%;
        height: 100%;

        border-radius: 16px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .run-image img {
        transform: scale(1.5) translate(-40px, 30px);
        border-radius: 16px;
    }

    .run-button-content {
        text-align: center;
    }

    .run-button {
        padding: 14px 50px 14px 50px;
        width: 100%;
    }

    /* run easily section responsive styles end here */


    /* BMI calculate section (myself research and created) responsive styles start here */

    .bmi-title {
        color: white;
        margin-left: 4%;
        margin-right: 4%;

        width: 100%;
        margin-top: 70px;
        margin-bottom: 88px;
        text-align: left;
    }

    .bmi {
        width: 100%;
    }

    .bmi-container {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 30px;
        flex-direction: column;
    }

    .bmi-table {
        width: 100%;
        /* margin: 20px auto; */
        border-collapse: collapse;
        margin-top: 40px;
    }

    .form-container {
        margin-left: 0%;
    }

    /* BMI calculate section (myself research and created) responsive styles end here */


    /* team section styles start here */
    .team-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .team {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 70px;
    }

    /* team section styles end here */


    /* footer section styles start here */
    #footer-section {
        grid-template-columns: 1fr;
        padding: 10px 10px 10px 10px;
        justify-items: left;

    }

    footer {
        width: 100%;
        height: 880px;
        padding: 0px 20px;
        /* border: 1px solid hotpink; */
    }

    #footer-section .fitness {
        margin-top: 37px;
        margin-bottom: 15px;
    }

    .footer-paragraph {
        font-size: 13px;
        margin-bottom: 30px;
        width: 80%;
    }

    .footer-header {
        margin-bottom: 35px;
        margin-top: 25px;
        font-size: 30px;
    }

    .footer-link {
        font-size: 22px;
    }

    .horizonal-line {
        margin-top: 55px;
    }

    .footer-last-text {
        text-align: left;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    /* footer section styles end here */
}

/* small device responsive end here*/

/* responsive styles end here */